
/* header */
* {
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', sans-serif;
}

#langage {
    display: inline-block;
    width:10%;
    height: 25px;
    margin-left: 65%;
    vertical-align: top;
    text-align: right;
}
#header {
    height: 150px;
    margin-top: 15px;
}
#header > img {
    margin: 0 20px 20px 40px;
    float: left;
    width: 10%
}

#langage img {
    display: inline;
    width:15%;
    right: 0;
}

#langage p {
    display: inline;
    font-weight: lighter;
    width: 10%;
    color: #c4bdb7;
}

#menu {
    border-bottom:1px solid #8bd3e0;
    border-top:1px solid #8bd3e0;
    height:25px;
    display: inline-block;
    width: 75%;
    margin-top: 35px;


}

#menu li{
    display: inline-block;
    width: 20%;
    list-style: none;
    text-align: center;

}
#menu li a {
    color: #c4bdb7;
    text-decoration: none;
    line-height: 25px;
}


/* footer */

#footer {
    width: 90%;
    margin: auto;
    height: 150px;
    background-color: #8bd3e0;
    margin-top: 5%;
    margin-bottom: 10%;
}
#facebook {
    width: 25%;
    height: 90%;
    display: inline-block;
    margin-top: 1%;
    border-right:1px solid white;
}
#facebook img {
    height: 30%;
    margin-top: 21%;
    margin-left: 10%;
}
#facebook p {
    color: white;
    margin-left: 10%;
    vertical-align: top;


}

#facebook a {
    vertical-align: middle;
}
#menu_foot {
    display: inline-block;
    vertical-align: top;
    width: 52%;
    margin-top:7%;
    text-align:center;
    height:100%;
}


#menu_foot li {
    width: 80px;
    list-style: none;
    text-align: center;
    display: inline;
    margin-left:10px;


}

/*anim on hover*/
#menu_foot li:hover {
    width: 80px;
    list-style: none;
    text-align: center;
    display: inline;
    margin-left:10px;

    /*animation property*/
    animation: menubottomanim 1s forwards ;
}

/*anim pour menu bottom*/
@keyframes menubottomanim {
    from{

    }
    to{
       border-bottom:4px #8bd3e0 solid;
        border-top:5px #8bd3e0 solid;

    }

}
/*coordo*/
#coordo {

    display:inline-block;
    vertical-align: top;
    width:60%;
    margin-top:22%;

}

#menu_foot li a {
    text-decoration: none;
    color: white;
}

#administration {
    display: inline-block;
    width: 20%;
    border-left: 1px solid white;
    height: 90%;
    margin-top: 1%;
    vertical-align: top;
}
#administration a {
    vertical-align: top;
    height: 90%;
}
#administration p {
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline;
    color: white;


}
#administration img {
    display: inline;
}


/* css main */

#image_index img {
    height: 400px;
    width: 400px;
}

#categorie {
    height: 160px;
    width: 90%;
    margin: auto;
}

#categorie > div {
    display: inline-block;
    height: 120px;
    width: 120px;
    margin-left: 9.5%;
}
.cercle {
    border-radius:50%;
    border:4px solid #8bd3e0;
    margin: 10px;
    background-image: url("");
}
.stylleillus {
    background-image: url("../images");
}

#image_cat1 p {
    width: 100px;
    height: auto;
}


