/***********************************************************************************************/
/******************************************FONT PERSO ******************************************/
/***********************************************************************************************/
@font-face {
    font-family: 'lavanderia_regular';
    src: url('../fonts/lavanderia_regular-webfont.eot');
    src: url('../fonts/lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lavanderia_regular-webfont.woff2') format('woff2'),
    url('../fonts/lavanderia_regular-webfont.woff') format('woff'),
    url('../fonts/lavanderia_regular-webfont.ttf') format('truetype'),
    url('../fonts/lavanderia_regular-webfont.svg#lavanderia_delicatedelicate') format('svg');
    font-weight: normal;
    font-style: normal;

}


/***********************************************************************************************/
/*******************************************THEME GLOBALE***************************************/
/***********************************************************************************************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', sans-serif;
}

ul{
    list-style: none;
}


/***********************************************************************************************/
/**********************************************HEADER*******************************************/
/***********************************************************************************************/

#langage {
    display: inline-block;
    width:10%;
    height: 25px;
    margin-left: 65%;
    vertical-align: top;
    text-align: right;
}
#header {
    height: 150px;
    margin-top: 15px;
}
#header > img {
    margin: 0 20px 20px 40px;
    float: left;
    width: 10%
}

#langage img {
    display: inline;
    width:15%;
    right: 0;
}

#langage p {
    display: inline;
    font-weight: lighter;
    width: 10%;
    color: #c4bdb7;
}

#menu {
    border-bottom:1px solid #8bd3e0;
    border-top:1px solid #8bd3e0;
    height:25px;
    display: inline-block;
    width: 75%;
    margin-top: 35px;
}

#menu li{
    display: inline-block;
    width: 20%;
    list-style: none;
    text-align: center;
}

#menu li a {
    color: #c4bdb7;
    text-decoration: none;
    line-height: 25px;
}


/***********************************************************************************************/
/**********************************************FOOTER*******************************************/
/***********************************************************************************************/
#footer {
    width: 90%;
    margin: auto;
    height: 100px;
    background-color: #8bd3e0;
    margin-top: 5%;
}
#facebook {
    width: 25%;
    height: 100%;
    display: inline-block;
    border-right: 1px solid white;
}
#facebook img {
    height: 30%;
    margin-top: 11%;
    margin-left: 10%;
}
#facebook p {
    color: white;
    margin-left: 10%;
    vertical-align: top;
}

#facebook a {
    vertical-align: middle;
}

#menu_foot {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
}
#menu_foot li{
    display: inline-block;
    width: 20%;
    list-style: none;
    text-align: center;

}
#menu_foot li a {
    color: white;
    text-decoration: none;
    line-height: 25px;
}

/*coordo*/
#coordo {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-top: 10%;
}

#administration {
    display: inline-block;
    width: 20%;
    border-left: 1px solid white;
    height: 100%;
    vertical-align: top;
}


/***********************************************************************************************/
/***************************************CONTENU PAGE INDEX**************************************/
/***********************************************************************************************/
#main {
    text-align: center;
}

/*Image principale derniere creation*/
#img_princ {
    width: 100%;
    height: 400px;
    position: relative;
}

#image_index {
    display: inline-block;
    width: 68%;
    position: absolute;
    right: 300px;
    top: -25px;
}

#image_index figure img{
    width: 600px;
    height: 400px;
}

/*Informations derniere creation*/
#details {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    position: absolute;
    right: 400px;
    top: 50px;
    height: 200px;
}
#details p {
    display: inline-block;
    color: #8bd3e0;
    font-size: x-large;
    margin-bottom: 20px;
    font-family: 'lavanderia_regular';
}
#details h3 {
    display: inline;
    margin-left: 60px;
    margin-right: 10px;
    color: #c4bdb7;
    text-transform: uppercase;
}
#details figcaption {
    display: inline-block;
    margin-top: 50px;
    color: #c4bdb7;
}

/*BTNS_CATEGORIES PRINCIPALES*/
#categorie {
    height: 300px;
    width: 80%;
    margin: auto;
    text-align: center;
}
#categorie > div {
    display: inline-block;
    height: 280px;
    margin: 2%;
    text-align: center;
    vertical-align: top;
    width: 18%;
}
#categorie h3{
    width: auto;
    margin-top: 80px;
    margin-bottom: 60px;
    color: #8bd3e0;
    display: inline-block;
    opacity: 0;
}
#categorie h3:hover{
    opacity: 1;
}
.separ {
    width: 300px;
}

/*anim on hover*/
.cercle {
    border-radius:50%;
    border:4px solid #8bd3e0;
    background-image: url("");
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
.cercle2 {
    border-radius:50%;
    border:4px solid #8bd3e0;
    background-image: url("");
    width: 60%;
    height: 150px;
    margin-bottom: 20px;
}
.stylleillus {
    background-image: url("../images");
}

#image_cat1 p {
    width: 100px;
    height: auto;
}

/***********************************************************************************************/
/******************************************CONTENU PAGES****************************************/
/******************************* réparation | à propos | contact *******************************/
#apropos, #repar, #contact_page{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

fieldset {
    border:1px solid #c4bdb7;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:2px;
}
fieldset>div, fieldset>p{
    margin: 20px;
}
legend {
    color: #8bd3e0;
    padding: 0 10px 0 10px;
    margin: 0 auto;
    font-size: 24px;
    font-family: 'lavanderia_regular';
}
fieldset div h2 {
    color: #41676e;
}
fieldset div p {
    color: #c4bdb7;
}
fieldset>div img {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}


/***********************************************************************************************/
/**************************************CONTENU PAGE PRODUITS************************************/
/***********************************************************************************************/
h1 {
    color: #8bd3e0;
    margin-left: 30%;
    font-family: 'lavanderia_regular';
}

#product {
    width: 90%;
    min-height: 800px;
    margin: auto;
    margin-top: 50px;
}
#product>img {
    width: 300px;
    display: inline-block;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    vertical-align: top;
    margin-top: 15%;
    margin-left: 11%;
}
#productclas {
    display: inline-block;
    width: 18%;
    position: absolute;
    left: 10%;
}
#productclas>div {
    display: inline-block;
    width: 100%;

}
#productdetail {
    display: inline-block;
    width:60%;
    position: absolute;
    right: 10%;
}
#once {
    display: inline-block;
    width: 250px;
    height: 350px;
    text-align: center;
}

#once h3 {
    font-family: 'lavanderia_regular';
    color: #8bd3e0;
    margin-bottom: 50px;
}
#once figcaption {
    color: #41676e;
    margin-bottom: 30px;
}
#once p {
    color: #c4bdb7;
    margin-bottom: 10px;
}



/***********************************************************************************************/
/**************************************CONTENU PAGE CONTACT*************************************/
/***********************************************************************************************/

#contact_page > fieldset > p{
    text-align: center;
    color: #c4bdb7;
    font-size: 14px;
}

#contact_page #form_contact{
    margin: 15px auto;
    width: 40%;
}

#form_contact label{
    display: inline-block;
    width: 90px;
    color: #6e6960;
    text-align: left;
}

#form_contact input:nth-of-type(-n+8){
    padding: 4px;
    margin: 4px;
    width: 76%;
    border: 1px solid #c4bdb7;
    box-shadow: 0 0 1px #c4bdb7 inset;
}

#form_contact #genre{
    display: inline-block;
    margin-left: 4px;
}
#form_contact #genre label{
    display: inline-block;
    width: 50px;
}
#form_contact #genre input{
    display: inline-block;
    width: 20px;
    margin-right: 50px;
}

#form_contact #label_message{
    vertical-align: top;
}

#form_contact textarea{
    width: 76%;
    height: 150px;
    padding: 4px;
    margin: 4px;
    border: 1px solid #c4bdb7;
    box-shadow: 0 0 1px #c4bdb7 inset;
}

#form_contact input[type="submit"] {
    margin: 8px 0 20px 0;
    padding: 4px;
    width: 97%;
    background-color: #41676e;
    border: 1px solid #c4bdb7;
    color: white;
}